@import "tailwindcss";

:root {
  --background: #1b1b1b;
  --background-soft: #242424;

  --foreground: #f8f8f8;
  --muted: #b5b5b5;

  --gold: #c6a15b;
  --gold-light: #d7b97a;

  --border: rgba(198, 161, 91, 0.18);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

section {
  position: relative;
}

::selection {
  background: var(--gold);
  color: #111;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #181818;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gold);
}
.font-title {
  font-family: var(--font-playfair);
}

.font-body {
  font-family: var(--font-inter);
}

#anasayfa {
  scroll-margin-top: 0;
}
@keyframes logo-spin-left {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(-180deg) scale(1.08);
  }

  100% {
    transform: rotate(-360deg) scale(1);
  }
}
@keyframes loading-line {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
@media (min-width: 1024px) {
  body {
    cursor: none;
  }

  a,
  button,
  input,
  textarea,
  select {
    cursor: none;
  }
}